@font-face {
  font-family: 'NS-L';
  src: url('fonts/NanumSquareL.ttf');
}
@font-face {
  font-family: 'NS-R';
  src: url('fonts/NanumSquareR.ttf');
}
@font-face {
  font-family: 'NS-B';
  src: url('fonts/NanumSquareB.ttf');
}
@font-face {
  font-family: 'NS-EB';
  src: url('fonts/NanumSquareEB.ttf');
}
@font-face {
  font-family: 'MARUBURI';
  src: url('fonts/MARUBURI-REGULAR.TTF');
}
